@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
body{
    margin: 0;
    padding: 0;
    height: 100vh;
}

header{
    background: #1D72C2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
}

nav{
    display: flex;
}

.dnone{
    display: none;
}

.open-section{
    width: 100vw;
}